* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    height: 15vh;
    line-height: 15vh;
    background-color: green;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}

article {
    background-color: bisque;
    flex: 3;
    order: 2;
}

aside {
    background-color: yellowgreen;
    flex: 1;
    order: 3;
}

nav {
    flex: 1;
    order: 1;
    background-color: yellowgreen;
}

footer {
    height: 15vh;
    line-height: 15vh;
    background-color: green;
}